.q1 {
  font-size: 36px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  .instructions {
    border: 1px solid;
    padding: 24px;
    margin-bottom: 40px;
    font-size: 23px;
    h1 {
      font-size: 26px;
    }
    li {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  .homeLink {
    margin-bottom: 30px;
  }
  label {
    font-size: 26px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: underline;
  }
  input {
    padding: 0.6em;
  }
}
