.q2 {
  font-size: 36px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  .instructions {
    border: 1px solid;
    padding: 24px;
    margin-bottom: 40px;
    font-size: 23px;
    h1 {
      font-size: 26px;
    }
    li {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  .homeLink {
    margin-bottom: 30px;
  }
}

.box {
  border: 1px solid;
  padding: 24px;
  width: 432px;
  height: 432px;
}
